@import "tailwindcss";

@theme {
  --color-brand-1: #1d64bf;
  --color-brand-2: #1f87ce;
  --color-brand-3: #20afd9;
  --color-brand-4: #55dedf;
  --color-brand-5: #c6efed;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: 'Inter', sans-serif;
}

.dark {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}
.star-shape {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}